@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Smooch+Sans:wght@100&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, black, #393E46, white);
    background-size: 200% 200%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.conteudo {
    color: aliceblue;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 0.8rem 2.5rem;

}

.icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.btn {
    margin: 0 100px 0px 100px;
}

.cima {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    height: 30px;
    width: 100px;
    list-style: none;
    border: transparent;
    margin: 30px 0px 30px 30px;
    border-radius: 5px;
    font-family: arial;
    background: none;
}

#projects {
    margin-right: 30px;
}

.style{
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    border: 2px solid rgba(0,0,0,1);
    transition: all 0.3s ease-in-out;

}

.style:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0,0,0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}

